<div class="gray-wrapper">
        <div class="wrapper-call-to-action">
          <div class="w-layout-grid main-grid inner-padding-small">
            <div id="w-node-ecc826ac-7ba3-cd11-2fb2-3278a6e7fb50-a6e7fb47">
              <h3 class="text">Ready to get started?</h3>
            </div>
            <div id="w-node-ecc826ac-7ba3-cd11-2fb2-3278a6e7fb49-a6e7fb47" class="w-layout-grid grid-buttons">
              <a href="#" class="button color-red w-inline-block">
                <div>Get started for free</div>
              </a>
              <a href="#" class="button w-inline-block">
                <div>Contact sales</div>
              </a>
            </div>
          </div>
        </div>
      </div>