<div class="wrapper-outline rounded">
        <div class="w-layout-grid main-grid-copy inner-padding-small">
          <div id="w-node-_8b0e521f-6f3f-b574-08bc-f75351a17b69-51a17b67" class="wrapper-call-to-action inner-padding-small">
            <div class="heading-wrapper-center">
              <h2 class="text text-white">Prova dal tuo Smartphone</h2>
            </div>
            <div class="paragraph-wrapper inner-padding-micro">
              <p class="main-paragraph text-white-opacity">Con il tuo smartphone <br>clicca per provare una nostra App Demo <br>o Scansiona il codice QR</p>
            </div>
            <a href="https://my.cardz.it/2" class="button color-red w-inline-block">
              <div>Demo App</div>
            </a><img src="{{ 'qr-1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 44vw, (max-width: 767px) 50vw, (max-width: 991px) 53vw, 54vw" srcset="{{ 'qr-1-p-500.png' | asset_url }} 500w, {{ 'qr-1-p-800.png' | asset_url }} 800w, {{ 'qr-1.png' | asset_url }} 1000w" alt="" class="image-9">
          </div>
        </div>
      </div>