<div class="bg-blue-copy rounded-copy">
        <div class="w-layout-grid main-grid no-gap">
          <div id="w-node-_6906192b-88e7-4850-4793-4e58e4fc2c7a-e4fc2c78" class="inner-image-cta"><img src="{{ 'untitled-design-3.png' | asset_url }}" loading="lazy" alt="" class="full-image cta"></div>
          <div id="w-node-_6906192b-88e7-4850-4793-4e58e4fc2c7c-e4fc2c78" class="wrapper-call-to-action inner-padding-small">
            <h3 class="text margin-bottom-xsmall">Join over 2 million designers creating with Musk</h3>
            <a href="#" class="button color-red w-inline-block">
              <div>Get Started</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
            </a>
          </div>
        </div>
      </div>