<div class="gray-wrapper">
        <div class="w-layout-grid main-grid inner-padding-small">
          <div id="w-node-c97a6baa-30aa-5443-e03b-bdaab4091a1b-b4091a19" class="wrapper-call-to-action inner-cta-padding-small">
            <div class="wrap-summary">
              <h5 class="text">Sei un azienda?</h5>
              <div>Ottieni uno sconto fino ad 80% e utilizza la nostra nuova dashboard con Sub-Utenti<br>Un nuovo modo di lavorare con il proprio team</div>
            </div>
            <div class="w-layout-grid grid-buttons">
              <a href="https://cardz.it/contact/" class="button color-red w-inline-block">
                <div>Scrivici</div>
              </a>
              <a href="tel:390823986470" class="button w-inline-block">
                <div>Chiama ora</div>
              </a>
            </div>
          </div>
        </div>
      </div>