<div class="container w-container">
      <div class="w-layout-grid main-grid">
        <div id="w-node-_4cf54b7b-8b30-c823-d616-47e70b663f4a-0b663f48" class="grid-wrapper">
          <div class="faq-wrapper-copy">
            <a href="#" class="faq-link w-inline-block">
              <h4 class="heading-regular text-white">C'è da pagare una fee mensile?</h4>
              <div class="faq-icon"><img src="{{ 'icon-plus.svg' | asset_url }}" loading="lazy" alt="" class="plus-icon"></div>
            </a>
            <div class="faq-container">
              <p>No, per utilizzare Cardz non è necessario un abbonamento mensile! Solo in particolari casi, per delle necessità personali e sbloccare features limitate, ci sono dei piani mensili.<br><br>Con il piano Silver di 2,99€ infatti potrai transformare il tuo biglietto da visita in una App che i tuoi clienti potranno scaricare su qualsiasi smartphone, ma appunto se non ne hai bisogno non dovrai mai pagare altro oltre il costo di acquisto della Cardz!<br><br>Quindi ti confermo al 100% che potrai utilizzare senza limiti la tua landing page che grazie alla dashboard avanzata di app.cardz, potrai gestire e allestire secondo ogni necessità sia organizzativa che grafica.</p>
            </div>
          </div>
          <div class="faq-wrapper">
            <a href="#" class="faq-link w-inline-block">
              <h4 class="heading-regular text-white">Funziona con qualsiasi Smartphone?</h4>
              <div class="faq-icon"><img src="{{ 'icon-plus.svg' | asset_url }}" loading="lazy" alt="" class="plus-icon"></div>
            </a>
            <div class="faq-container">
              <p>Certo! Anche se i moduli NFC ancora non coprono il 100% dei dispositivi mobili in circolazione, grazie al codice QR basterà una fotocamera per ottenere lo stesso risultato.<br><br>Inoltre grazie al nostro ultimo aggiornamento avrai una Menu Bar in grado di condividere il contenuto del tuo biglietto da visita digitale direttamente tra smartphone e smartphone.<br><br></p>
            </div>
          </div>
        </div>
        <div id="w-node-_4cf54b7b-8b30-c823-d616-47e70b663f63-0b663f48" class="grid-wrapper">
          <div class="faq-wrapper">
            <a href="#" class="faq-link w-inline-block">
              <h4 class="heading-regular text-white">Ha un limite di utilizzo?</h4>
              <div class="faq-icon"><img src="{{ 'icon-plus.svg' | asset_url }}" loading="lazy" alt="" class="plus-icon"></div>
            </a>
            <div class="faq-container">
              <p>In teoria è possibile dire che l'utilizzo di Cardz è illimitato, questo perchè non c'è un numero di volte che il chip NFC potrà funzionare, funzionerà sempre, smetterà di farlo soltato se la tua Cardz viene spezzata.<br><br>Per quanto riguarda il limite di aggiornamenti alla pagina web collegata, possiamo darti la stessa risposta, se cambi numero 100 volte potrai aggiornarlo in pochi secondi 100 volte senza alcuna limitazione, stessa storia per un indirizzo, una email, in realtà anche se cambi professione :).</p>
            </div>
          </div>
          <div class="faq-wrapper">
            <a href="#" class="faq-link w-inline-block">
              <h4 class="heading-regular text-white">Serve un app per farla funzionare?</h4>
              <div class="faq-icon"><img src="{{ 'icon-plus.svg' | asset_url }}" loading="lazy" alt="" class="plus-icon"></div>
            </a>
            <div class="faq-container">
              <p>Assolutamente no, questa è proprio una delle cose più belle di Cardz che lascerà a bocca aperta i tuoi clienti!<br>‍<br>Neanche tu hai bisogno di un App, potrai comunque scaricare la nostra app My Cardz per accedere alla tua Cardz ed effettuare modifiche in modo velocissimo oppure per controllare il tuo calendario appuntamenti o ancora, pubblicare in pochi secondi una tua nuova offerta lampo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>