<div class="loader wf-section">
    <div class="loader-wrapper"><img src="{{ 'cropped-logocardzslogan-640x152.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'cropped-logocardzslogan-640x152-p-500.png' | asset_url }} 500w, {{ 'cropped-logocardzslogan-640x152.png' | asset_url }} 640w" alt="" class="logo-loader">
      <div class="progress-bar-wrapper">
        <div class="progress-bar"></div>
      </div>
    </div>
  </div>