<div class="w-layout-grid main-grid">
        <div id="w-node-_5b9c4a0e-3173-6e0b-6dc6-29b4273af39d-273af39c" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="list-wrapper">
              <h3 class="heading-regular text-light-gray">Freelancer</h3>
              <div class="price-wrapper">
                <p class="price">$9<span class="span-small">/mo</span></p>
                <div class="p-xsmall text-gray">*billed annually, plus applicable taxes</div>
              </div>
            </div>
            <div class="list-wrapper">
              <a href="#" class="button color-red margin-bottom-small w-inline-block">
                <div>Get Started</div>
              </a>
              <p class="p-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
              <div class="button-plan-wrapper inline-link">
                <a href="#" class="link-wrapper w-inline-block">
                  <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-eb385f30-a540-3a63-5af6-021b519c6007-273af39c" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="list-wrapper">
              <h3 class="heading-regular text-light-gray">Professional</h3>
              <div class="price-wrapper">
                <p class="price">$19<span class="span-small">/mo</span></p>
                <div class="p-xsmall text-gray">*billed annually, plus applicable taxes</div>
              </div>
            </div>
            <div class="list-wrapper">
              <a href="#" class="button color-red margin-bottom-small w-inline-block">
                <div>Get Started</div>
              </a>
              <p class="p-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
              <div class="button-plan-wrapper inline-link">
                <a href="#" class="link-wrapper w-inline-block">
                  <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-eb05c7e1-d1cb-32ce-e5b0-8c8127ef0946-273af39c" class="gray-wrapper">
          <div class="w-layout-grid content-grid gap-short">
            <div class="list-wrapper">
              <h3 class="heading-regular text-light-gray">Enterprise</h3>
              <div class="price-wrapper">
                <p class="price">$69<span class="span-small">/mo</span></p>
                <div class="p-xsmall text-gray">*billed annually, plus applicable taxes</div>
              </div>
            </div>
            <div class="list-wrapper">
              <a href="#" class="button color-red margin-bottom-small w-inline-block">
                <div>Get Started</div>
              </a>
              <p class="p-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
              <div class="button-plan-wrapper inline-link">
                <a href="#" class="link-wrapper w-inline-block">
                  <div>Learn more</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>