<div class="w-layout-grid main-grid margin-bottom-xsmall">
        <div id="w-node-_8dbc2062-838d-a683-d578-21c553dff0b7-53dff0b6" class="image-grid-wrapper rounded"><img src="{{ 'pretty-curly-woman-holds-modern-2.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 95vw" srcset="{{ 'pretty-curly-woman-holds-modern-2-p-500.jpeg' | asset_url }} 500w, {{ 'pretty-curly-woman-holds-modern-2-p-800.jpeg' | asset_url }} 800w, {{ 'pretty-curly-woman-holds-modern-2.jpg' | asset_url }} 900w" alt="" class="full-image"></div>
        <div id="w-node-_8dbc2062-838d-a683-d578-21c553dff0b9-53dff0b6" class="grid-wrapper align-center">
          <div class="gray-wrapper margin-bottom-xsmall">
            <div class="flex-vertical">
              <div class="list-wrapper margin-bottom-small">
                <h3 class="heading-regular text-light-gray">Basic</h3>
                <p class="price">$9<span class="span-small">/mo</span></p>
                <div class="p-xsmall text-gray">*billed annually, plus applicable taxes</div>
                <div class="price-wrapper">
                  <div class="price-wrapper"></div>
                </div>
              </div>
              <a href="#" class="button color-red w-inline-block">
                <div>Get Started</div>
              </a>
            </div>
          </div>
          <div class="gray-wrapper">
            <div class="flex-vertical">
              <div class="list-wrapper margin-bottom-small">
                <h3 class="heading-regular text-light-gray">Premium</h3>
                <p class="price">$19<span class="span-small">/mo</span></p>
                <div class="p-xsmall text-gray">*billed annually, plus applicable taxes</div>
                <div class="price-wrapper">
                  <div class="price-wrapper"></div>
                </div>
              </div>
              <a href="#" class="button color-red w-inline-block">
                <div>Get Started</div>
              </a>
            </div>
          </div>
        </div>
      </div>